<navbar></navbar>
<sidebar></sidebar>

<div *ngIf="tipoTela == 2" class="container-base">
    <div class="content-page">
        <div class="header-info-2">
            <div class="card-header">
                <div class="card-title">
                    Cadastro de Lançamentos
                </div>
                <div (click)="ListaLancamentosUsuario()" class="card-menu">
                    Lista de Lançamentos
                </div>
            </div>
        </div>

        <form class="form-page"[formGroup]="lancamentoForm" (submit)="enviar()">
            <div class="row">
                <div class="group-row">                    
                    <label for="">Nome</label>
                    <input type="text" id="name" placeholder="Nome da despesa" formControlName="name" required>      
                    <label class="error-input" *ngIf="lancamentoForm.get('name')?.errors?.['required'] && lancamentoForm.get('name')?.touched">Campo Obrigatório</label>              
                </div>
            </div>
            <div class="row">
                <div class="group-row">                    
                    <label for="">Valor</label>
                    <input type="number" id="valor" placeholder="Valor da despesa" formControlName="valor" required>      
                    <label class="error-input" *ngIf="lancamentoForm.get('valor')?.errors?.['required'] && lancamentoForm.get('valor')?.touched">Campo Obrigatório</label>              
                </div>
            </div>
            <div class="row">
                <div class="group-row">                    
                    <label for="">Data de Vencimento</label>
                    <input type="date" id="valor" placeholder="Vencimento da despesa" formControlName="data" required>      
                    <label class="error-input" *ngIf="lancamentoForm.get('data')?.errors?.['required'] && lancamentoForm.get('data')?.touched">Campo Obrigatório</label>              
                </div>
            </div>
            <div class="row">
                <div class="group-row">                    
                    <label for="">Tipo de Lançamento</label>
                    <ng-select class="select-padrao" formControlName="tipoLancamentoSelected" [items]="listTipoLancamento" [(ngModel)]="tipoLancamentoSelected" bindLabel="name" [multiple]="false" [clearable]="false" [searchable]="false"></ng-select>                    
                </div>
            </div>
            <div class="row">
                <div class="group-row">                    
                    <label for="">Sistemas</label>
                    <ng-select class="select-padrao" formControlName="sistemaSelect" [items]="listSistemas" [(ngModel)]="sistemaSelect" bindLabel="name" [multiple]="false" [clearable]="false" [searchable]="false" (ngModelChange)="onSistemaSelectChange()"></ng-select>                    
                </div>
            </div>
            <div class="row">
                <div class="group-row">                    
                    <label for="">Categoria</label>
                    <ng-select class="select-padrao" formControlName="categoriaSelect" [items]="listCategorias" [(ngModel)]="categoriaSelect" bindLabel="name" [multiple]="false" [clearable]="false" [searchable]="false"></ng-select>                    
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <mat-slide-toggle class="group-slide" [color]="color" [checked]="checked" [disabled]="disabled" (change)="handleChangePago($event)">
                        Pago?
                    </mat-slide-toggle>    
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <input type="submit" class="btn-primary" value="Salvar">
                </div>
            </div>
        </form>
    </div>
</div>

<div *ngIf="tipoTela == 1" class="container-base">
    <div class="content-page">
        <div class="header-info-2">
            <div class="card-header">
                <div class="card-title">
                    Lista de Lançamentos
                </div>
                <div (click)="cadastro()" class="card-menu">
                    Cadastro de Lançamentos
                </div>
            </div>
        </div>

        <table [cellSpacing]="0" [cellPadding]="0">
            <thead>
                <tr>
                    <td>Codigo</td>
                    <td>Nome</td>
                    <td>Valor</td>
                    <td>Pago</td>
                    <td>Data Vencimento</td>
                    <td>Ação</td>
                </tr>
            </thead>
            <tbody>
                <tr class="select-item" *ngFor="let item of tableLancamentos | paginate: config; let i = index"
                    class="linha-table" [ngClass]="{'linha-cinza' : i % 2 == 0, 'linha-branca': i % 2 !==0}">
                    <td>{{item.id}}</td>
                    <td>{{item.nome}}</td>
                    <td>R${{item.valor.toFixed(2)}}</td>
                    <td>
                        <mat-chip-listbox aria-label="Fish selection">
                            <mat-chip-option [color]="color" [selected]="item.pago" disabled>Pago</mat-chip-option>
                        </mat-chip-listbox>
                    </td>                    
                    <td>{{item.dataVencimento}}</td>
                    <td>Editar</td>
                </tr>
            </tbody>
        </table>
        <div class="tabela-footer" *ngIf="paginacao && tableLancamentos">
            <label class="mostrar">Mostrar</label>
            <ng-select (change)="mudarItemsPorPage()" [(ngModel)]="itemsPorPagina" [clearable]="false"
                [searchable]="false" class="mostrar-drop">
                <ng-option [value]="10">10</ng-option>
                <ng-option [value]="50">50</ng-option>
                <ng-option [value]="100">100</ng-option>
            </ng-select>

            <div class="container-pagination">
                <pagination-controls id="{{this.id}}" previousLabel="Anterior" nextLabel="Próximo"
                    [responsive]="true" (pageChange)="mudarPage($event)">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>