<navbar></navbar>
<sidebar></sidebar>

<div class="container-base">
    <div class="content-page">
        <div class="card-header">
            <div class="card-title">
                Cadastro de Categorias
            </div>
        </div>

        <form class="form-page"[formGroup]="categoriaForm" (submit)="enviar()">
            <div class="row">
                <div class="group-row">                    
                    <label for="">Nome</label>
                    <input type="text" id="name" placeholder="Nome da categoria" formControlName="name" required>       
                    <label class="error-input" *ngIf="categoriaForm.get('name')?.errors?.['required'] && categoriaForm.get('name')?.touched">Campo Obrigatório</label>             
                </div>
            </div>
            <div class="row">
                <div class="group-row">                    
                    <label for="">Sistemas</label>
                    <ng-select class="select-padrao" formControlName="sistemaSelect" [items]="listSistemas" [(ngModel)]="sistemaSelect" bindLabel="name" [multiple]="false" [clearable]="false" [searchable]="false"></ng-select>                    
                </div>
            </div>
            <div class="row">
                <div class="group-row">
                    <input type="submit" class="btn-primary" value="Salvar">
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="loading" class="loader-overlay">
        <div class="loader"> </div>
    </div>
</div>