<div class="container-login">
    <div class="container-login-central">
        <div class="container-header">
            <div class="title-login">
                Financial Core
            </div>
            <div class="info-login">
                Transforme sua gestão financeira e alcance o sucesso dos seus negócios!
            </div>
        </div>
        <div class="container-form">
            <div class="group-input">
                <div class="text-info">
                    Email
                    <input type="email" class="input-form" id="email" placeholder="Email">
                </div>
            </div>
        </div>
    </div>
</div>