<navbar></navbar>
<sidebar></sidebar>

<div class="container-base">
    <div class="content-page">
        <div class="card-header">
            <div class="card-title">
                Cadastro de Sistemas
            </div>
        </div>
        
        <form class="form-page"[formGroup]="sistemaForm" (submit)="enviar()">
            <div class="row">
                <div class="group-row">                    
                    <label for="">Sistema</label>
                    <input type="text" id="name" placeholder="Nome do sistema financeiro" formControlName="name" required>
                    <label class="error-input" *ngIf="sistemaForm.get('name')?.errors?.['required'] && sistemaForm.get('name')?.touched">Campo Obrigatório</label>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="group-row">
                    <input type="submit" class="btn-primary" value="Salvar">
                </div>
            </div>
        </form>
        <div *ngIf="loading" class="loader-overlay">
            <div class="loader">
        </div>
    </div>
</div>